body{
    box-sizing: border-box;
    background-color: rgb(245, 205, 211);
    max-width: 100vw;
    max-height: 100vh;
    font-family: "Nunito", sans-serif;
}
#mainNavbar{
    padding-top: 0px;
}
#mainNavbar .nav-link{
    font-size:1.5rem;
    font-weight: 100;
    color: white;

}
#mainNavbar .nav-link:hover{
    color:#EA1C2C;
}
#main{
    color:#EA1C2C;
    font-size:1.8rem;
    font-weight: 100;
}
.col-6{
    padding:0px;
}
#mainn span{
    color: #EA1C2C;
}
h2{
    color: #f83041;
    font-weight: 100;
}
.para{
    color:#f57ca4;
}
#mainn h1{
    font-size: 3.5rem;
    font-weight:100;
}
@media(max-width:1200px){
    #mainn h1{
        font-weight: 100;
        font-size: 2.5rem;
    }
}
.content{
    margin-top: 50px;
    margin-bottom: 50px;
}
.navbar.scrolled{
    background-color: rgb(222,192,222);
    transition: background 500ms;
}