
nav{
    position: absolute;
    height: 77px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    top:0px;
    margin: 0vw;
}
body{
    max-width: 100vw;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    height: 2473px;
}
#mainNavbar{
    padding-top: 0px;
}
#mainNavbar .nav-link{
    margin-left: 40px;
    font-size: 10.6px;
    color: black;
    padding: 0%;
    padding-top: 36.33px;
}
.navbar-brand{
    margin: 0;
}
#main{
    margin-left: 286px;
    width:64.6px;
    height: 37.33px;
    margin-top: 6px;
}
#pets{
    width:110px;
    height: 31.3px;
    border-radius: 3px;
}
#section1{
    max-width: 100vw;
}
#rect{
    position: absolute;
    top:117.3px;
    width: 282.3px;
    height: 329.67px;
    left: 261.73px;
}
#rect2{
    position: absolute;
    top:157.176px;
    width: 362.97px;
    height: 243.09px;
    left: 299.7px;
}
#rect3{
    position: absolute;
    top:115.198px;
    width: 471px;
    height: 346.3px;
    left: 239.3px;
}
#circle{
    position: absolute;
    margin-top: 300.7px;
    margin-left: 630.8px;
    width: 114.55;
    height: 113.22px;
}
#one{
    position: absolute;
    left: 722.61px;
    top: 224.4px;
    display: flex;
    width: 317.8px;
    height: 96.57px;
    flex-direction: column;
    justify-content: space-between;
}
#one div{
    display: block;
    font-size: 26.64px;
    font-weight: 900;
    font-family: 'Roboto';
}
#one button{
    width: 130.53px;
    box-sizing: border-box;
    height: 36.63px;
    color: white;
    background-color: #F45201;
    border: 1px solid #F45201;
    border-radius: 5px;
}
#section2 div:first-of-type{
    top:519px;
    position: absolute;
    left: 545px;
    font-size: 19.3px;
    font-weight: 900;
}
#group{
    position: absolute;
    top:568.76px;
    width: 505.5px;
    height: 177.8px;
    left:386.95px;
}
#section2 .container{
    position: absolute;
    width: 732px;
    height: 182.5px;
    top:777.9px;
    left: 285.7px;
    padding: 0;
}
#section2 p{
    font-size: 15.98px;
    font-weight: 400;
}
#DP div{
    font-size: 13.32px;
    font-weight: 600;
}
#i1{
    position: absolute;
    width: 102.2px;
    height: 158.178px;
    top: 1001.998px;
    left: 607.09px ;
}
#i1 + div{
    position: absolute;
    top: 1155.32px;
    left: 621.68px ;
}
#i2{
    position: absolute;
    width: 114.552px;
    height: 167.832px;
    top: 1068.58px;
    left: 766.22px ;
}
#i2 + div{
    position: absolute;
    top: 1229.79px;
    left: 767.22px ;
}
#i3{
    position: absolute;
    width: 165.228px;
    height: 167.832px;
    top: 1060.938px;
    left: 413.56px ;
}
#i3 + div{
    position: absolute;
    top: 1229.79px;
    left: 454.43px ;
}
#cen{
    position: absolute;
    width: 173.16px;
    height: 173.16px;
    top: 1189.48px;
    left: 576.09px ;
}
#i4{
    position: absolute;
    width: 158.2px;
    height: 170.854px;
    top: 1388.61px;
    left: 586.09px ;
}
#i4 + div{
    position: absolute;
    top: 1549.78px;
    left: 590.5px ;
}
#i5{
    position: absolute;
    width: 103.56px;
    height: 180.5px;
    top: 1200.092px;
    left: 302.55px ;
}
#i5 + div{
    position: absolute;
    top: 1368.26px;
    left: 316.6px ;
}
#i6{
    position: absolute;
    width: 104.552px;
    height: 168.832px;
    top:1315.017px;
    left: 439.56px ;
}
#i6 + div{
    position: absolute;
    top: 1467.194px;
    left: 438.231px ;
}
#i7{
    position: absolute;
    width: 114.224px;
    height: 170.854px;
    top: 1203.5px;
    left: 911.1px ;
}
#i7 +div{
    position: absolute;
    top: 1370.65px;
    left: 907.53px ;
}
#i8{
    position: absolute;
    width: 94.232px;
    height: 173.832px;
    top: 1310.69px;
    left: 778.22px ;
}
#i8 + div{
    position: absolute;
    top: 1470.194px;
    left: 794.41px ;
}
#rect4{
    position: absolute;
    height: 869.796;
    width: 100%;
    top: 826.506px;
}
#DP button{
    position: absolute;
    height: 36.63px;
    width: 130.536px;
    top:1613.718px;
    left: 597.402px;
    color: white;
    background-color: #F45201;
    border: 1px solid #F45201;
    border-radius: 6px;
    font-size: 13.32px;
}
#rect5{
    position: absolute;
    top:1736.262px;
    width: 282.3px;
    height: 329.67px;
    left: 254.412px;
}
#rect6{
    position: absolute;
    top:1737.244px;
    width: 468.24px;
    height: 346.3px;
    left: 245.728px;
}
#rect7{
    position: absolute;
    top:1775.228px;
    width: 370.612px;
    height: 255.408px;
    left: 305.37px;
}
#two{
    width: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 89.582px;
    justify-content: space-between;
    top: 1863.468px;
    left:767.232px;
}
#two div{
    display: block;
    font-size: 26.64px;
    font-weight: 900;
    font-family: 'Roboto';
}
#two button{
    width: 130.53px;
    box-sizing: border-box;
    height: 36.63px;
    background-color: white;
    color: #F45201;
    border: 1px solid #F45201;
    border-radius: 5px;
}
#three{
    position: absolute;
    width: 755.91px;
    height: 251.082px;
    left: 252.78px;
    top: 2124.54px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 0%;
    margin-bottom: 96.57px;
}
.box{
    border:1px solid #55D3DC;
    width: 238.428px;
    height: 113.22px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0%;
}
.box div:first-of-type{
    background-color: #55D3DC;
    opacity: 32%;
    width: 87.9px;
    height: 113.22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    border-radius: 6px;
}
.box img{
    height: 65.1px ;
    width: 56.38px;
}
.box div:nth-of-type(2){
    width:110.232px;
    font-size: 15.984;
    font-weight: 700;
    padding-left: 16px;
}